 ---
import Welcome from '../layouts/welcome.astro';
import Activity from '../layouts/activity.astro';
import Layout from '../layouts/Layout.astro';
import Rooms from "../layouts/rooms.astro";
import Packages from "../layouts/packages.astro";
import Restaurant from "../layouts/restaurant.astro";
import Contactus from "../layouts/contactus.astro";
import Footer from "../layouts/footer.astro";
import Reservation from "../layouts/reservation.astro";



---
<script src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

 <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>


 <Layout>
    <main>
        <Reservation reservation="Rezervovat" promo="Nejlepší místo pro relaxaci v srdci jižních Čech" arrival="Příjezd" checkout="Odjezd" people="Počet osob" availability="Ověřit dostupnost"></Reservation>
        <Welcome></Welcome>
        <Activity heading="Sed ac est sed lectus congue consequat etiam quis sollicitudin"></Activity>
        <Rooms heading="Naše pokoje jsou moderně a stylově vybaveny s důrazem na komfort a pohodlí" text="Etiam massa orci, ultrices non felis sed, tincidunt mollis nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vel dapibus augue. Nulla malesuada sit amet felis eu venenatis. Pellentesque est enim, malesuada id purus at, sodales commodo ligula." display="Zobrazit vše"></Rooms>
        <Packages heading="Vyberte si některý z výhodných balíčků a užijte si pobyt plný oddychu a naprosté relaxace"></Packages>
        <Restaurant heading="Zveme vás do naší restaurace, kde jsou všechny stoly prostřeny pro vaše zážitky" text="V nevšedním interiéru s příjemnou atmosférou můžete ochutnat vynikající mezinárodní kuchyni, doplněnou o nabídku kvalitních moravských i zahraničních vín a perfektní servis." more="Zobrazit více"></Restaurant>
        <Contactus heading="Zvažujete pobyt u nás?" subheading="Zeptejte se na cokoliv" more="Kontaktovat"></Contactus>
        <Footer tripadvisor="Skvělá volba!" menu1="WELLNESS" menu2="SPA CENTRUM" menu3="GOLF" menu4="FIREMNÍ AKCE" menu5="RESTAURACE" menu6="POKOJE" menu7="SPECIÁLNÍ NABÍDKY" menu8="KONFERENCE" menu9="KONTAKT" phone="+420 387 008 800" email="reception@hoteldiamant.cz" address="Sokolská 1339, 373 41 Hluboká nad Vltavou" copyright="© DIAMANT wellness hotel & Spa 2023" gdpr="Zásady ochrany osobních údajů" rules="Pravidla a podmínky" madeby="Made by Newlogic"></Footer>
        <div id="app"></div>
        <script type="module" src="/src/components/UI/carousel.jsx"></script>
    </main>
</Layout>
