.limit {
  max-width: 1180px;
}

.center-limit {
  margin-left: auto;
  margin-right: auto;
}

.small {
  max-width: 734px;
}

.spa-img {
  max-width: 710px;
  height: 544px;
}

.page-container {
  max-width: 1440px;
}

.room-img {
  max-width: 393px;
  height: 564px;
}

.form-limit {
  max-width: 989px;
}

.input-limit {
  max-width: 198px;
}

.field-limit {
  max-width: 165px;
}

.persons {
  max-width: 133px;
}

.menu {
  width: 44px;
  height: 44px;
}
