@import url('https://fonts.cdnfonts.com/css/futura-pt');

.heading1 {
  font-family: 'Futura PT', sans-serif;
  font-size: 85px;
  font-weight: 300;
  line-height: 98px;
  letter-spacing: -0.025em;
  text-align: left;
}

.heading2 {
  font-family: 'Futura PT', sans-serif;
  font-size: 78px;
  font-weight: 300;
  line-height: 94px;
  letter-spacing: -0.025em;
  text-align: left;
}

.heading3 {
  font-family: 'Futura PT', sans-serif;
  font-size: 42px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -0.01em;
  text-align: left;

}

.heading4 {
  font-family: 'Futura PT', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.paragraph {
  font-family: 'Futura PT', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #7E7979;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  .big {
    font-family: 'Futura PT', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

  }
}
