---
interface Props {
    text: string;
}

const {text} = Astro.props;
---

<div class="flex pt-32 pl-32 space-x-3">
    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 4.5L8 14L0 4.5L3.2 0H12.8L16 4.5Z" fill="#BD941E"/>
    </svg>
    <p class="tag">{text}</p>
</div>
